body{
    font-family: "Plus Jakarta Sans", sans-serif;
    background-color: hsl(205, 33%, 90%);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card{
    background-color: #ffffff;
    width: 600px;
    border-radius: 10px;
    padding: 15px;
}

.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.notifications{
    font-size: 20px;
}

.notifications span{
    background-color: hsl(219, 85%, 26%);
    color: #ffffff;
    padding: 1px 8px;
    border-radius: 6px;
    font-size: 15px;
}

.marker{
    font-size: 14px;
}

.users{
    display: flex;
    flex-direction: column; 
}

.user-notification{
    display: flex;
    align-items: center;
    background-color:  hsl(205, 33%, 90%);
    border-radius: 10px;
    padding: 5px 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.user-info{
    display: flex;
    flex-direction: column;
}

.user-info a{
    margin-left: 10px;
    font-size: 13px;
    font-weight: bold;
}

.users img{
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.info{
    font-size: 13px;
}

.point{
    width: 5px;
    height: 5px;
    background-color: red;
    border-radius: 50%;
    margin-left: 10px;
    display: inline-block;
}

.time{
    color: hsl(219, 14%, 63%);
    font-size: 13px;
    margin-top: 3px;
}

.about{
    color: hsl(219, 85%, 26%);
    cursor: pointer;
    font-weight: bold;
}

.user{
    display: flex;
    margin-top: 20px;
}

.message{
    background-color:  hsl(205, 33%, 90%);
    padding: 10px;
    border-radius: 10px;
    margin-top: 5px;
    font-size: 15px;
}

.notification{
    color:  hsl(219, 14%, 63%)
}

.jess-info{
    width: 700px;
}

.image-jess{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.opacity{
    opacity: 0;
}

.background{
    background-color: #ffffff;
}

